{% extends "base.html" %}

{% block title %}
Productos - Vitrina UEA
{% endblock %}

{% block content %}

<section class="container my-5">

    <div class="text-center mb-5">

        <h2>Productos</h2>

        <p class="lead">
            Productos disponibles en Vitrina UEA.
        </p>

    </div>

    <div class="row g-4">

        {% for producto in productos %}

        <!-- Producto {{ producto[0] }} -->

        <div class="col-md-4">

            <div class="card h-100 shadow-sm">

               {% if producto[4] %}

              <img
                   src="{{ url_for('static', filename='imagenes/' + producto[4]) }}"
                   class="card-img-top"
                   alt="{{ producto[1] }}">

              {% endif %}

              <div class="card-body">

                    <h5 class="card-title">
                        {{ producto[1] }}
                    </h5>

                    <p class="card-text">
                        {{ producto[2] }}
                    </p>

                    <span class="badge bg-primary">
                        {{ producto[3] }}
                    </span>

                    <a
                        href="{{ url_for('editar_producto', id=producto[0]) }}"
                        class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <form
                        action="{{ url_for('eliminar_producto', id=producto[0]) }}"
                        method="POST">

                        <button
                            type="submit"
                            class="btn btn-danger btn-sm">
                            Eliminar
                        </button>

                    </form>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}